body {
  overflow-x: hidden;
  background-color: black;
}

body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.buttons {
  display: flex;
}
.sub-menu {
  display: flex;
  overflow-x: hidden;
  margin-top: 5vh;
  height: 9.5vh;
  color: white;
}

.sub-menu > h1 {
  margin-left: 5%;
  font-size: 2rem;
  color: white;
}

.sub-menu2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-left: 7%;
  width: 25%;
}

.sub-menu3 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 25%;
}

.sub-menu ul > li:first-child {
  font-size: 1.1rem;
  font-weight: bold;
}

.sub-menu ul > li:nth-child(2) {
  color: white;
}

.sub-menu ul > li:nth-child(3) {
  color: white;
}

/* sub-menu end */
/*  */
.main-pic {
  text-align: center;
}

/* 배너 및 상품 목록 */
/* 상품 이미지박스 */
.img-box > img {
  width: 100%;
  display: block;
}

/* 메뉴리스트 하단 */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/* 상품이미지박스+가격+무료배송 = cell */
.cell {
  float: left;
  box-sizing: border-box;
}

/* 커스텀 */

/* 상품 정렬 */
.list-box-1 .cell {
  width: 20%;
  padding: 0 10px;
  margin-top: 20px;
  cursor: pointer;
}

/* 메뉴리스트 전체 틀 */
.list-box-1 .row {
  margin: 0 -10px;
}

/* 상품 제목 및 가격 */
.list-box-1 .cell > .prod-name,
.list-box-1 .cell > .prod-price {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}
.list-box-1 .cell > .prod-price {
  font-size: 1.2rem;
}
.list-box-1 .cell > .prod-price::after {
  content: "원";
}
.list-box-1 .cell:hover > .prod-name,
.list-box-1 .cell:hover > .prod-price {
  color: #ddd;
}

/* 기타 효과 */
.list-box-1 .cell > .img-box > img {
  transition: transform 1s;
}
.list-box-1 .cell:hover > .img-box > img {
  transform: scale(1.25);
}
.list-box-1 .cell > .img-box {
  overflow: hidden;
  position: relative;
}
.list-box-1 .cell > .img-box > .ico-view {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
  opacity: 0;
  transition: opacity 1s;
  z-index: 1;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
}
.list-box-1 .cell > .img-box > .ico-view:after {
  content: "VIEW";
  padding-left: 5px;
}
.list-box-1 .cell:hover > .img-box > .ico-view {
  opacity: 1;
}
.list-box-1 .cell:hover > .img-box::before {
  opacity: 1;
}
.list-box-1 .cell > .img-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background-color 1s;
}
.list-box-1 .cell:hover > .img-box::after {
  background-color: rgba(0, 0, 0, 0.5);
}
/* 무료배송 */
.list-box-1 .cell > .free-del {
  text-align: center;
  margin-top: 12px;
}
.list-box-1 .cell > .free-del > span::after {
  content: "무료배송";
  font-size: 0.8rem;
  border: 1px solid white;
  color: white;
  padding: 4px;
}

/* 하단 */
.copy {
  text-align: center;
  padding: 30px;
  background-color: #dfdfdf;
  margin-top: 70px;
  font-weight: bold;
}

/* 반응형 사이즈 */
@media (max-width: 600px) {
  .bn-box-1 > .img-box {
    margin-left: -50%;
  }
}
@media (min-width: 1001px) {
  .list-box-1 .cell:nth-child(5n + 1) {
    clear: both;
  }
}
@media (max-width: 1000px) and (min-width: 801px) {
  .list-box-1 .cell {
    width: 25%;
  }
  .list-box-1 .cell:nth-child(4n + 1) {
    clear: both;
  }
}
@media (max-width: 800px) and (min-width: 601px) {
  .list-box-1 .cell {
    width: 33.3333%;
  }
  .list-box-1 .cell:nth-child(3n + 1) {
    clear: both;
  }
}
@media (max-width: 600px) and (min-width: 401px) {
  .list-box-1 .cell {
    width: 50%;
  }
  .list-box-1 .cell:nth-child(2n + 1) {
    clear: both;
  }
}
@media (max-width: 400px) and (min-width: 0px) {
  .list-box-1 .cell {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .menu-box-1 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .menu-box-1-m > img,
  .share > img {
    display: block;
  }
}
