.notice-content {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.notice-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.title-name {
  text-align: left;
  margin-left: 20%;
  color: white;
}

.notice-title-input {
  display: block;
  color: white;
  text-align: center;
}

.notice-content-input {
  display: block;
  color: white;
  text-align: center;
}

.content-name {
  text-align: left;
  margin-left: 20%;
}

.input-content {
  color: black;
}

.notice-content-btn {
  width: 600px;
  display: flex;
  justify-content: left;
  margin-right: 0;
  margin-left: auto;
}

// .notice-content-btn2 {
//   text-align: center;
// }
