h1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-right: auto;
}

body {
  height: 150vh;
}

article {
  display: flex;
  justify-content: space-evenly;
}

html body {
  color: black;
}

