// body,
// ul,
// li {
//   margin: 0;
//   padding: 0;
//   list-style: 0;
// }
.company {
  width: 100%;
  height: auto;

  background-color: #1c1c1c;
}
.company > ul {
  color: white;
  margin-left: 20px;
}
.company > ul > li:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}
.company > ul > li {
  margin-top: 5px;
  font-size: 12px;
}
.company > ul > li:last-child {
  text-align: center;
  font-size: 1rem;
  margin-right: 20px;
}
