.joinFrom {
  width: max-content;
  margin: 0 auto;
}

div > h1 {
  margin-top: 300px;
  text-align: center;
  color: white;
}

input[type="text"] {
  display: block;
  margin: 10px auto;
  padding: 5px;

  color: black;
}

.joinFrom > .btn {
  display: flex;
}
