body,
html {
  overflow-x: hidden;
}
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 노말라이즈 끝 */

/* top-bar 시작 */

/* top bar end */

.img {
  position: relative;
  background-image: url(https://3.bp.blogspot.com/-aLiIe14Mlow/XN0i1QcxyNI/AAAAAAAAHsA/CGomJrXhNW4hMv9X0APq-zF0_wXqVNcoQCLcBGAs/s1600/2019-05-16%2B17%253B27%253B16.jpg?v=24);
  height: 100vh;
  background-size: cover;
}

.img-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.img .content {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
  z-index: 2;
  text-align: center;
}

.con {
  margin: 0 20px;
}

.notice {
  display: inline-block;
  width: 70%;
  height: auto;
}
.notice-top {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: black;
  color: white;
}

.notice-list > li {
  color: white;
  margin-top: 5px;
}

.event {
  display: inline-block;
  width: 40%;
  height: auto;
}
.event-top {
  display: inline-block;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: black;
  color: white;
}
.event-list > li {
  color: white;
  margin-top: 5px;
}
/* 하단부 */
/* 하단부 끝 */
