/* 노말라이즈 */
body,
html {
  overflow-x: hidden;
}

body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 노말라이즈 끝 */

/* 버튼 */
.buttons {
  display: flex;
}

/* Top bar 시작 */
header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  align-items: center;
}

body {
  padding-top: 50px;
}

/* top-bar < menu list */
.top-bar {
  margin: 5vh;
}

/* 1차 메뉴 */
.top-bar ul {
  background-color: teal;
  display: flex;
}

.top-bar > ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

/* 1차 메뉴 아이템 */
.top-bar > ul > li {
  display: inline-flex;
  flex-wrap: nowrap;
}

/* 1, 2차 메뉴 아이템에 relative를 줌 */
.top-bar ul > li {
  position: relative;
}

/* 1차 메뉴 아이템 : TEXT */
.top-bar ul > li > a {
  padding: 10px;
  display: block;
  font-weight: bold;
  /* 3차메뉴 아이템이 아래로 표시 되는 것을 제대로 표시하기 */
  white-space: nowrap;
}

/* 1차 메뉴 hover시 색상 변경 */

/* 2, 3차 메뉴 숨기기, position 설정*/
.top-bar > ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

/* 1차 메뉴에 hover시 2차 메뉴 표시 */
.top-bar ul > li:hover > ul {
  display: block;
}

.top-bar ul ul ul {
  background-color: teal;
  top: 0;
  left: 100%;
}

/* Login */
.buttons {
  margin-left: auto;
}
/* Login */

.con {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}
/* Top bar 종료 */

.con {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}

/* main picture */

.main-pic {
  text-align: center;
}

/* main picture */

/* accounce + event */
.con2 {
  margin-top: 50px;
}

/* announce */
.announce {
  display: inline-block;
  width: calc(100% / 2);
  height: auto;
}

.announce-top {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: gold;
}

.announce-list > li {
  margin-top: 5px;
}

/* announce */

/* event */

.event {
  display: inline-block;
  width: calc(100% / 2);
  height: auto;
}

.event-top {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: skyblue;
}

.event-list > li {
  margin-top: 5px;
}

/* event */

/* 최하단 company */

.company {
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: teal;
}

.company > ul {
  color: white;
}

.company > ul > li:first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.company > ul > li {
  margin-top: 5px;
  font-size: 12px;
}

.company > ul > li:last-child {
  text-align: center;
  font-size: 1rem;
}

/* 최하단 company */
