@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "EarlyFontDiary";
  color: white;
}

.flex {
  display: flex;
}

.img-box > img {
  width: 100%;
}

.flex-jc-c {
  justify-content: center;
}

a {
  text-decoration: none;
}

.title_name {
  width: 1020px;
  margin: 50px auto 30px;
  font-size: 1.5rem;
  font-weight: bold;
}

.title_name > span {
  font-size: 1rem;
  color: #555;
}

.sub_box {
  width: 1280px;
  margin: 0 auto;
}

.sub_box > .img-box {
  width: 40%;
  margin-left: 10%;
}

.sub_box .product-text {
  margin-left: 4%;
  width: 40%;
}

// .sub_box  .text-wrap > h2 {
//     margin-top: 0;
// }

.sub_box .text-wrap > h2 > span {
  color: #888;
  font-size: 1rem;
}

.sub_box .text-wrap > .text-box1 > .text1 {
  width: 30%;
}

.sub_box .text-wrap > .text-box1 > .text2 {
  width: 70%;
  font-weight: 600;
  font-size: 1rem;
}

.sub_box .text-wrap > .text-box1 > .text2 > .p4 {
  color: rgb(255, 217, 0);
}

.sub_box .text-wrap > .text-box1 > .text2 > .p4 > span {
  color: #888;
}

.sub_box .price-wrap > h2 > span {
  color: #888;
  font-size: 1rem;
}

.sub_box .price-wrap > .text-box1 > .text1 {
  width: 30%;
}

.sub_box .price-wrap > .text-box1 > .text2 {
  width: 70%;
  font-weight: 600;
  font-size: 1rem;
}

.sub_box .price-wrap > .text-box1 > .text1 > .p3 {
  margin-top: 50px;
}

.coupon-btn {
  padding: 5px 0;
  background: darkolivegreen;
  border: 2px solid darkolivegreen;
  text-align: center;
  width: max-content;
  margin-top: 10px;
}

.coupon-btn:hover {
  background: white;
  border: 2px solid darkolivegreen;
  box-sizing: border-box;
  overflow: hidden;
}

.coupon-btn:hover > a {
  color: darkolivegreen;
}

.buy-btn-box {
  margin-top: 105px;
}

.coupon-btn > a {
  padding: 10px 30px;
  color: white;
  font-weight: 600;
}

.buy-btn-box > .buy {
  margin-top: 5px;
}

.buy-btn-box > .cart {
  margin-left: 10px;
}

.buy-btn-box > .heart {
  margin-left: 10px;
}
