.fullheart {
  color: rgb(255, 102, 102);
}
.hrt-btn {
  font-size: 45px;
}

.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-text {
  margin-left: 10px;
  cursor: default;
  font-size: 1.2rem;
}
