.all-cart {
  border: 5px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}

.shopping-cart {
  font-size: 45px;
  display: flex;
}
.cart-text {
  font-size: 18px;
}
