.all-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.shopping-cart {
  font-size: 45px;
  display: flex;
}
.cart-text {
  font-size: 18px;
}
