.sell-btn{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1000px;
    height: 100px;
}


button{
    
    border:none;
    background-color: inherit;
    cursor: pointer;
}